# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys_Yvonne import g_key
# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#from weatherpy
df = pd.read_csv('yvonne_data.csv')
df

,City,Cloudiness,Country,Date,Humidity %,Latitude,Longitude,Temperature (F),Wind_Speed,Pressure
0,Beloha,100.0,MG,1.644117e+09,91.0,-25.1667,45.0500,74.12,21.90,1006.0
1,Vaini,100.0,TO,1.644117e+09,89.0,-21.2000,-175.2000,78.96,14.97,1010.0
2,Atuona,38.0,PF,1.644117e+09,78.0,-9.8000,-139.0333,78.69,20.87,1012.0
3,Natchez,0.0,US,1.644117e+09,86.0,31.5604,-91.4032,30.90,0.00,1029.0
4,Busselton,81.0,AU,1.644117e+09,63.0,-33.6500,115.3333,74.05,14.00,1002.0
...,...,...,...,...,...,...,...,...,...,...
571,Myre,100.0,NO,1.644118e+09,88.0,69.1036,15.9492,33.75,26.71,970.0
572,Chumphon,93.0,TH,1.644118e+09,58.0,10.3333,98.8333,80.71,7.23,1013.0
573,Broken Hill,17.0,AU,1.644118e+09,26.0,-31.9500,141.4333,82.27,16.75,1016.0
574,Karlshus,0.0,NO,1.644118e+09,74.0,59.3520,10.8723,36.12,8.05,982.0
575,Podporozh'ye,100.0,RU,1.644118e+09,95.0,60.9112,34.1706,16.45,7.23,999.0

In [3]:
df2 = df.dropna().reset_index(drop=True)

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             572 non-null    object
 1   Cloudiness       572 non-null    float64
 2   Country          572 non-null    object
 3   Date             572 non-null    float64
 4   Humidity %       572 non-null    float64
 5   Latitude         572 non-null    float64
 6   Longitude        572 non-null    float64
 7   Temperature (F)  572 non-null    float64
 8   Wind_Speed       572 non-null    float64
 9   Pressure         572 non-null    float64
dtypes: float64(8), object(2)
memory usage: 44.8+ KB

In [5]:
df2.columns

Index(['City', 'Cloudiness', 'Country', 'Date', 'Humidity %', 'Latitude',
       'Longitude', 'Temperature (F)', 'Wind_Speed', 'Pressure'],
      dtype='object')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Humidity Heatmap
locations = df2.loc[:, ["Latitude", "Longitude"]]

fig = gmaps.figure()

#add heatmap layer
heatmap_layer = gmaps.heatmap_layer(
    locations, weights=df2['Humidity %'],
    max_intensity=75, point_radius=10)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# save image

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
#Narrow down the DataFrame to find your ideal weather condition.

#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [9]:
df2.columns

Index(['City', 'Cloudiness', 'Country', 'Date', 'Humidity %', 'Latitude',
       'Longitude', 'Temperature (F)', 'Wind_Speed', 'Pressure'],
      dtype='object')

In [10]:
#use mask with criteria from above
mask = (df2["Temperature (F)"] < 80) & (df2["Temperature (F)"] > 70) & (df2["Wind_Speed"] < 10) & (df2["Cloudiness"] == 0)
df2.loc[mask]

,City,Cloudiness,Country,Date,Humidity %,Latitude,Longitude,Temperature (F),Wind_Speed,Pressure
12,Kapaa,0.0,US,1.644117e+09,71.0,22.0752,-159.3190,75.92,4.00,1018.0
16,New Norfolk,0.0,AU,1.644117e+09,35.0,-42.7826,147.0587,73.81,1.99,1029.0
99,Vallenar,0.0,CL,1.644117e+09,52.0,-28.5708,-70.7581,71.10,1.90,1013.0
178,Kanel,0.0,SN,1.644117e+09,10.0,15.4916,-13.1763,74.98,9.17,1010.0
223,Saint-Pierre,0.0,RE,1.644117e+09,73.0,-21.3393,55.4781,77.88,3.44,1008.0
227,Copala,0.0,MX,1.644117e+09,70.0,16.6500,-98.9833,75.31,1.12,1015.0
544,Sur,0.0,OM,1.644118e+09,44.0,22.5667,59.5289,70.45,7.29,1012.0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
vac_cities = df2.loc[mask]
vac_cities

,City,Cloudiness,Country,Date,Humidity %,Latitude,Longitude,Temperature (F),Wind_Speed,Pressure
12,Kapaa,0.0,US,1.644117e+09,71.0,22.0752,-159.3190,75.92,4.00,1018.0
16,New Norfolk,0.0,AU,1.644117e+09,35.0,-42.7826,147.0587,73.81,1.99,1029.0
99,Vallenar,0.0,CL,1.644117e+09,52.0,-28.5708,-70.7581,71.10,1.90,1013.0
178,Kanel,0.0,SN,1.644117e+09,10.0,15.4916,-13.1763,74.98,9.17,1010.0
223,Saint-Pierre,0.0,RE,1.644117e+09,73.0,-21.3393,55.4781,77.88,3.44,1008.0
227,Copala,0.0,MX,1.644117e+09,70.0,16.6500,-98.9833,75.31,1.12,1015.0
544,Sur,0.0,OM,1.644118e+09,44.0,22.5667,59.5289,70.45,7.29,1012.0

In [12]:
#Day6-Python-APIs-3-Activities-05-Stu_Google_Complex, booth
# geocoordinates test from a city above
target_coordinates = f"{22.0752	}, {-159.3190}"

target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

places_data = response.json()

print(places_data["results"][0]["name"])
print(places_data["results"][0]["vicinity"])
print(places_data["results"][0]["rating"])

Sheraton Kauai Coconut Beach Resort
650 Aleka Loop, Kapaʻa
4.1

In [13]:
# exactly like in #Day6-Python-APIs-3-Activities-05-Stu_Google_Complex solved
hotel_df= vac_cities

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# 
for index, row in vac_cities.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    places_data = response.json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = places_data["results"][0]["name"]
       
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\yvonne\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\yvonne\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Missing field/result... skipping.

In [14]:
hotel_df

,City,Cloudiness,Country,Date,Humidity %,Latitude,Longitude,Temperature (F),Wind_Speed,Pressure,Hotel Name
12,Kapaa,0.0,US,1.644117e+09,71.0,22.0752,-159.3190,75.92,4.00,1018.0,Sheraton Kauai Coconut Beach Resort
16,New Norfolk,0.0,AU,1.644117e+09,35.0,-42.7826,147.0587,73.81,1.99,1029.0,The Shingles Riverside Cottages
99,Vallenar,0.0,CL,1.644117e+09,52.0,-28.5708,-70.7581,71.10,1.90,1013.0,Humacao Bed & Breakfast
178,Kanel,0.0,SN,1.644117e+09,10.0,15.4916,-13.1763,74.98,9.17,1010.0,NaN
223,Saint-Pierre,0.0,RE,1.644117e+09,73.0,-21.3393,55.4781,77.88,3.44,1008.0,Lindsey Hôtel
227,Copala,0.0,MX,1.644117e+09,70.0,16.6500,-98.9833,75.31,1.12,1015.0,Kaak Naab Playa Ventura
544,Sur,0.0,OM,1.644118e+09,44.0,22.5667,59.5289,70.45,7.29,1012.0,Sur Plaza Hotel

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations2, info_box_content=hotel_info)

# Display figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations2, info_box_content=hotel_info)
heatmap_layer = gmaps.heatmap_layer(locations, weights=df2['Humidity %'], max_intensity=75, point_radius=10)


# Display figure
fig = gmaps.figure()
#with both layers
fig.add_layer(marker_layer)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#We have a couple of hotels to choose from that are within our asks of weather.